---
import Layout from '../../layouts/Layout.astro';
import EnhancedUKPowerMap from '../../components/EnhancedUKPowerMap';
---

<Layout title="UK Power Generation Map - CarbonRecycling.co.uk" currentPage="/features/power-map">
  <div class="w-full h-screen">
    <EnhancedUKPowerMap client:load />
  </div>
</Layout>
