---
import Layout from '../../layouts/Layout.astro';
import UKPowerMap from '../../components/UKPowerMap';
---

<Layout title="UK Power Generation Map - CarbonRecycling.co.uk" currentPage="/features/power-map">
  <div class="w-full h-screen">
    <UKPowerMap client:load />
  </div>
</Layout>
